body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.loading{
    margin-top: 30px;
    text-align: center;
}

.fa-circle-o-notch{
    color: #337AB7;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.bottom_less1 {
    margin-bottom: -1px;
}
.bottom_plus10{
    margin-bottom: 10px;
}
.no_radius_bottom{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.no_radius_top{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.no_radius{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#signup{
    margin-top: 10px;
    text-align: center;
}

.graphic{
    float: left;
}

.tweets{
    float: right;
    border: 1px solid #CECECE;
    width: 50%;
    background: #FFFFFF;
    padding: 5px;
    border-radius: 4px;
}

.tweet{
    border-bottom: 1px solid #CECECE;
    margin-top: 5px;
    min-height: 70px;
}

.tweet-image{
    float: left;
    margin: 8px;
}

.tweet-image img{
    border-radius: 50%;
}

.tweet-text{

}

.tweet-info{

}

/* angular list animations */
.ng-enter{
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -ms-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;

    opacity: 0;
}

.ng-enter-active{
    opacity: 1;
}

.ng-leave{

}

.ng-leave-active{

}